$yellow: #fed049;
$Darkblue: #282846;
$blue: #007580;
$white: #d8ebe4;

//font Roboto 900
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: $Darkblue;
}

.mainLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    z-index: -1;
}

.spinnder-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $Darkblue;
    z-index: 52;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: $blue;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

header{
    min-height: 100vh;
    position: relative;
    font-family: 'Roboto', sans-serif;
    .container{
        margin: 0 auto;
        padding: 1rem 2rem;
        .navbar{
            min-height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                padding: 30px 3%;
            }
            .nav-links{
                display: flex;
                align-items: center;
                gap: 0;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: #fff;
                        margin: 0 0.4rem;
                        font-size: 45px;
                        position: relative;
                        &::after{
                            position: absolute;
                            content: '';
                            background-color: #fff;
                            bottom: -5px;
                            left: 0;
                            width: 0%;
                            height: 3px;
                            transition: 0.3s ease all;
                        }
                        &:hover::after{
                            width: 100%;
                        }
                    }
                }
            }
            i{
                display: none;
                color: #fff;
                cursor: pointer;
            }
        }
        .showcase{
            min-height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 52rem;
            h1{
                color: #fff;
                font-size: 6.25rem;
                margin-bottom: 0;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            p{
                margin-top: 0;
                color: #fff;
                font-weight: 500;
                line-height: 1.4;
                font-size: 3.125rem;
                width: 30rem;
            }
            button{
                margin-top: -2rem;
                background-color: #000;
                color: #fff;
                border: none;
                outline: none;
                padding: 1rem 1.5rem;
                font-size: 0.9rem;
                border-radius: 6px;
                cursor: pointer;
            }
        }
    }
}

@media(max-width: 850px){
    header{
        .container{
            .navbar{
                .nav-links{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $Darkblue;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    transform: translateX(-100%);
                    transition: 0.4s ease all;
                    z-index: 10;
                    li{
                        a{
                            color: $white;
                            &::after{
                                background-color: $white;
                            }
                        }
                    }
                    button{
                        border-color: #000;
                        color: #000;
                        padding: 0.75rem 1.5rem;
                    }
                    &.active{
                        transform: translateX(0%);
                    }
                }
                i{
                    color: $white;
                    font-size: 5rem;
                    display: block;
                    z-index: 12;
                }
            }
            .showcase{
                min-height: 60vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                text-align: center;
                h1{
                    font-size: 5rem;
                }
            }
        }
    }   
}

@media(max-width: 500px){
    header{
        .container{
            .showcase{
              h1{
                font-size: 3rem;
              }
              p{
                font-size: 0.85rem;
                width: 5rem;
                padding-bottom: 2rem;
              }
            }
        }
    }   
}